{{ $src := .Get "src"}}
{{ $widths := slice 800 480 320 }}
{{ $height := .Get "height"}}
{{ $alt := .Get "alt"}}
{{ $credit := .Get "credit"}}
{{ $caption := .Get "caption"}}

{{ with .Page.Resources.GetMatch $src }}
    {{ $image := . }}
    {{ $imgSrcSet := slice }}
    {{ $topImage := .RelPermalink }}
    {{ range $widths }}
        {{ $srcUrl := (printf "%dx%d q90 Lanczos Center" . $image.Height | $image.Fill).RelPermalink }}
        {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
    {{ end }}
    {{ $topSrcSet := (delimit $imgSrcSet ",") }}

    <figure>
        <img src="{{ $topImage }}" 
            {{ if (not (eq $topSrcSet "" )) }}srcset="{{ $topSrcSet }}"{{end}} 
            alt="{{ $alt }}" class="w-full object-cover" />
        {{ if or ($caption) ($credit) }}
        <figcaption class="text-xs text-right">{{ if $credit }}<cite class="italic">{{ $credit }}</cite>{{ end }}</figcaption>
        {{ end }}
    </figure>
{{ end }}
