{{ $src := .Get "src"}}
{{ $widths := slice 800 480 320 }}
{{ $alt := .Get "alt"}}
{{ $credit := .Get "credit"}}
{{ $caption := .Get "caption"}}
{{ $float := .Get "float" }}


{{ with .Page.Resources.GetMatch $src }}
    {{ $image := . }}
    {{ $imgSrcSet := slice }}
    {{ $topImage := .RelPermalink }}
    {{ if eq $image.MediaType.SubType "svg" }}
        {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $image.RelPermalink 480) }}
    {{ else }}
        {{ range $widths }}
            {{ $srcUrl := (printf "%dx q90 Lanczos Center" . | $image.Resize).RelPermalink }}
            {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
        {{ end }}
    {{ end }}
    {{ $topSrcSet := (delimit $imgSrcSet ",") }}

    <figure 
        {{if eq $float "right" }}class="float-right w-1/3 pl-4"{{ end }}
        {{if eq $float "left" }}class="float-left w-1/3 pr-4"{{ end }}>
        <img src="{{ $topImage }}" 
            {{ if (not (eq $topSrcSet "" )) }}srcset="{{ $topSrcSet }}"{{end}} 
            alt="{{ $alt }}" class="w-full object-cover" />
        {{ if ($credit) }}
        <figcaption class="text-xs text-right">{{ if $credit }}<cite class="italic">{{ $credit }}</cite>{{ end }}</figcaption>        
        {{ else if ($caption)}}
        <figcaption class="text-base text-center">{{ if $caption }}<cite class="not-italic font-bold">{{ $caption | markdownify }}</cite>{{ end }}</figcaption>
        {{ end }}
    </figure>
{{ end }}
