@import "variables";
@import "grid";
@import "mixins";
@import "normalize";
@import "site";
@import "typography";
@import "pygments";
@import "elements";
@import "forms";
@import "page";

.contact-xp-table {
	th {
		text-align: left;
		& + th {text-align: right;}
	}
	td {
		text-align: left;
		& + td {text-align: right;}
	}
}