<head>
    <title>{{ .Title }} · {{ .Site.Title }}</title>
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ trim (.Params.excerpt | default .Summary | default .Description | default .Site.Title) "\n\r" }}">

    {{ if .Params.canonicalUrl }}
    <link rel="canonical" href="{{ .Params.canonicalUrl }}">
    {{ else }}
    <link rel="canonical" href="{{ .Permalink }}">
    {{ end }}

    {{ if .IsTranslated }}
    {{ range .Translations }}
    <link rel="alternate" href="{{ .Permalink }}" hreflang="{{ .Language.Lang }}" type="text/html">
    {{ end }}
    {{ end }}

    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    
    <link rel="stylesheet" href="/main.css">
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
</head>
