{{ if .Page.Params.image }}
    {{ with .Resources.GetMatch .Page.Params.image }}
        {{ $image := . }}

        <!-- variables used for img tag -->
        {{ $imgSrc := "" }}
        {{ $imgSrcSet := slice }}

        <!-- uses settings from config.toml depending on orientation -->
        {{ $widths := slice 800 480 320 }}

        <!--
        Add URL for each width to $imgSrcSet variable
        format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
        Note: the first URL is used as "fallback" src in $imgSrc.
        -->
        {{ range $widths }}
            <!-- {{ . }} -->
            {{ $srcUrl := (printf "%dx q90 Lanczos" . | $image.Resize).RelPermalink }}
            {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
        {{ end }}
        {{ $imgSrcSet = (delimit $imgSrcSet ",") }}
        <figure class="image-wrap">
            <img src="{{ $image.Name }}" srcset="{{ $imgSrcSet }}" alt="{{ $.Page.Name }}">
        </figure>
    {{ else }}
        {{ $topImage := "/img/back.png" }}
        {{ if .Page.Params.image }}
            {{ $topImage = .Page.Params.image }}
            {{ if not (findRE "^(/|http(s?)://)" $topImage) }}
                {{ with .Page.Resources.GetMatch $topImage }}
                    {{ $topImage = .RelPermalink }}
                {{ else }}
                    {{ $topImage = print "/img/" $topImage }}
                {{ end }}
            {{ end }}
        {{ end }}
        <figure class="image-wrap">
            <img src="{{ $topImage }}" alt="{{ .Page.Name }}">
        </figure>
        
    {{ end }}

{{else}}
    <figure class="image-wrap">
        <img src="/img/back.png" alt="{{ .Page.Name }}">
    </figure>
{{end}}
