{{ $topImage := "/img/back.webp" }}
{{ $topAlt := .Page.Name }}
{{ $topSrcSet := "" }}

{{ if .Page.Params.image }}
    {{ with .Resources.GetMatch .Page.Params.image }}
        {{ $image := . }}

        <!-- variables used for img tag -->
        {{ $imgSrc := "" }}
        {{ $imgSrcSet := slice }}

        <!-- uses settings from config.toml depending on orientation -->
        {{ $widths := slice 800 480 320 }}

        <!--
        Add URL for each width to $imgSrcSet variable
        format: "/path/img_1000.jpg 1000w,/path/img_500.jpg 500w"
        Note: the first URL is used as "fallback" src in $imgSrc.
        -->
        {{ range $widths }}
            {{ $srcUrl := (printf "%dx75 q90 Lanczos Center" . | $image.Fill).RelPermalink }}
            {{ $imgSrcSet = $imgSrcSet | append (printf "%s %dw" $srcUrl .) }}
        {{ end }}
        {{ $topSrcSet = (delimit $imgSrcSet ",") }}
        {{ $topImage = $image.RelPermalink }}
    {{ else }}
        {{ if .Page.Params.image }}
            {{ $topImage = .Page.Params.image }}
            {{ if not (findRE "^(/|http(s?)://)" $topImage) }}
                {{ with .Page.Resources.GetMatch $topImage }}
                    {{ $topImage = .RelPermalink }}
                {{ else }}
                    {{ $topImage = print "/img/" $topImage }}
                {{ end }}
            {{ end }}
        {{ end }}
    {{ end }}
{{end}}
<figure class="img-ticke">
    <img src="{{ $topImage }}" 
        {{ if (not (eq $topSrcSet "" )) }}srcset="{{ $topSrcSet }}"{{end}} 
        alt="{{ $topAlt }}" height="80" class="w-full h-20 object-cover" />
</figure>