<div class="navigation-wrapper">
    <div class="site-name">
        <a href="/">{{ .Site.Title }}</a>
    </div><!-- /.site-name -->
    <div class="top-navigation">
        <nav role="navigation" id="site-nav" class="nav">
            <ul>
                {{ range .Site.Sections.ByWeight.Reverse }}
                <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
                {{ end }}
            </ul>
        </nav>
    </div><!-- /.top-navigation -->
</div><!-- /.navigation-wrapper -->

{{ $topImage := "/img/back.png" }}
{{ if .Page.Params.image }}
    {{ $topImage = .Page.Params.image }}
    {{ if not (findRE "^(/|http(s?)://)" $topImage) }}
        {{ with .Page.Resources.GetMatch $topImage }}
            {{ $topImage = .RelPermalink }}
        {{ else }}
            {{ $topImage = print "/img/" $topImage }}
        {{ end }}
    {{ end }}
{{ end }}
<figure class="image-wrap">
    <img src="{{ $topImage }}" alt="{{ .Page.Name }}">
</figure>
