{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "filter" (where .Pages "Section" "blog").ByLastmod.Reverse }}
{{ if .IsHome }}
{{ $scratch.Set "filter" (first 10 (where (where .Site.Pages "Section" "blog") ".IsPage" "==" true).ByLastmod.Reverse ) }}
{{ end }}
{{ $filter := $scratch.Get "filter" }}
<div id="main" role="main">
    <div class="article-author-side">
        {{ partial "autor-bio" . }}
    </div>
    <div id="index">
        <h3><a href="/">Derniers billets</a></h3>
        {{ range $filter }}
        <article>
            {{ if isset .Params "affiliatelink" }}
            {{ $url := urls.Parse .Params.affiliatelink }}
            <em class="affiliate">{{ $url.Host }}</em>
            <h2><a href="{{ .Params.affiliatelink }}" target="_blank" title="{{ .Title }}">{{ .Title }} </a></h2>
            {{else}}
            <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ end }}
            <p>{{ plainify .Params.excerpt | safeHTML | truncate 160 }}</p>
        </article>
        {{ end }}
    </div><!-- /#index -->
</div><!-- /#main -->
{{ end }}