{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "filter" (where .Pages "Section" "blog").ByLastmod.Reverse }}
{{ if .IsHome }}
{{ $scratch.Set "filter" (first 10 (where (where .Site.Pages "Section" "blog") ".IsPage" "==" true).ByLastmod.Reverse ) }}
{{ end }}
{{ $filter := $scratch.Get "filter" }}
<main class="leading-relaxed text-xl grid grid-cols-1 lg:grid-cols-4">
    {{ partial "autor-bio" . }}
    <div class="max-w-prose py-12 col-span-2">
        <h3><a href="/">Derniers billets</a></h3>
        {{ range $filter }}
        <article>
            {{ if isset .Params "affiliatelink" }}
            {{ $url := urls.Parse .Params.affiliatelink }}
            <em class="float-right text-base mt-1 after:content-linkout after:text-sm">{{ $url.Host }}</em>
            <h2><a href="{{ .Params.affiliatelink }}" target="_blank" title="{{ .Title }}">{{ .Title }} </a></h2>
            {{else}}
            <h2><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ end }}
            <p class="italic">{{ plainify .Params.excerpt | safeHTML | truncate 160 }}</p>
        </article>
        {{ end }}
    </div><!-- /#index -->
</main>
{{ end }}