{{ define "main" }}
{{ $scratch := newScratch }}
{{ $scratch.Set "filter" (where .Pages "Section" "blog").ByLastmod.Reverse }}
{{ if .IsHome }}
{{ $scratch.Set "filter" (first 10 (where (where .Site.Pages "Section" "blog") ".IsPage" "==" true).ByLastmod.Reverse ) }}
{{ end }}
{{ $filter := $scratch.Get "filter" }}
<main class="leading-relaxed text-xl grid grid-cols-1 lg:grid-cols-7">
    {{ partial "autor-bio" . }}
    <div class="w-full px-5 py-12 lg:max-w-prose lg:col-span-4">
        <h3><a href="/">Derniers billets</a></h3>
        {{ range $filter }}
        <article>
            <h2 class="mb-1"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            <div class="text-sm italic">
                <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
                {{ if (gt .Lastmod .Date) }}[Edit: <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2 Jan 2006" }}</time>]{{ end }}
                ⏱ {{ .ReadingTime }} mn
            </div>
            <p class="italic">{{ default .Summary | default .Description | default .Title | plainify | truncate 160 }}</p>
        </article>
        {{ end }}
    </div><!-- /#index -->
    <aside class="ml-6 col-span-2 pt-12 pl-16 hidden lg:block">
        <ul>
        {{ range (first 100 $.Site.Taxonomies.categories.ByCount) }}
        <li><a href="/categories/{{ .Name | urlize }}">{{ .Name | humanize }} ({{ .Count }})</a></li>
        {{ end }}
        </ul>
    </aside>
</main>
{{ end }}