{{ define "main" }}
<div id="main" role="main">
    <div class="article-author-side">
        {{ partial "autor-bio" . }}
    </div>
    <article class="post">
        <div class="headline-wrap">
            <h1><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a></h1>
        </div><!--/ .headline-wrap -->
        <div class="article-wrap">
            {{ if .Params.toc }}
            <section id="table-of-contents" class="toc">
                <header>
                    <h3>Vue d’ensemble</h3>
                </header>
                <div id="drawer" markdown="1">
                {{ .TableOfContents }}
                </div>
            </section>
            {{ end }}
            {{ .Content }}
            <hr />
            <footer role="contentinfo">
                <p class="byline"><strong>{{ .Title }}</strong> est paru le <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
                {{ if isset .Params "Lastmod" }}
                et modifié pour la dernière fois le <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
                {{ end }}
                </p>
            </footer>
        </div><!-- /.article-wrap -->
        {{ if isset .Params "comment" }}
        <aside>
            <p>Cet article vous a plu, n’hésitez pas a laisser un commentaire sur le 
                <a href="https://www.journalduhacker.net{{ .Params.comment | default "/" }}">Journal du Hacker</a></p>
        </aside>    
        {{ end }}
    </article>
</div><!-- /#main -->
{{ end }}