{{ define "main" }}
<main class="leading-relaxed text-xl grid grid-cols-1 lg:grid-cols-7">
    {{ partial "autor-bio" . }}
    <article class="w-full px-4 py-12 lg:col-span-4 lg:max-w-prose">
        <h1><a href="{{ .Permalink }}" rel="bookmark" title="{{ .Title }}">{{ .Title }}</a></h1>
        <div>
            {{ .Content }}
            <hr class="w-full my-8" />
            <footer role="contentinfo" class="text-sm">
                <p><strong>{{ .Title }}</strong> est paru le <time datetime="{{ .PublishDate.Format "2006-01-02" }}">{{ .PublishDate.Format "2006-01-02" }}</time>
                {{ if isset .Params "Lastmod" }}
                et modifié pour la dernière fois le <time datetime="{{ .Lastmod.Format "2006-01-02" }}">{{ .Lastmod.Format "Jan 2, 2006" }}</time>
                {{ end }}
                {{ if isset .Params "comment" }}
                <p>Cet article vous a plu, n’hésitez pas à laisser un commentaire sur le 
                    <a class="underline" href="https://www.journalduhacker.net{{ .Params.comment | default "/" }}">Journal du Hacker</a></p>
                {{ end }}
            </footer>
        </div><!-- /.article-wrap -->
    </article>
    <aside class="ml-6 col-span-2 pt-12 pl-16 hidden lg:block">
        {{ if .Params.toc }}
            <header class="font-bold text-lg">Vue d’ensemble</header>
            {{ .TableOfContents | replaceRE "id=\"TableOfContents\"" "class='toc-nav'" 
                | replaceRE "<ul>" "<ul class='toc-list'>" 
                | replaceRE "<li>" "<li class='toc-element'>" 
                | replaceRE "href" "class='toc-menulink' href" 
                | safeHTML }}
        {{ end }}
        {{ partial "similar-post-aside" . }}
    </aside>
</main>
{{ end }}