{{ define "main" }}
<main class="leading-relaxed text-xl grid grid-cols-1 lg:grid-cols-7">
    {{ partial "autor-bio" . }}
    <div class="w-full px-5 py-12 lg:max-w-prose lg:col-span-4">
        <h3>{{ .Name | humanize }}</h3>
        {{ .Content }}
        {{ range .Pages.ByLastmod.Reverse }}
        <article>
            <h2 class="mb-1"><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h2>
            {{ if .PublishDate }}
            <div class="text-sm italic">
                <time datetime="{{ .PublishDate }}">{{ .PublishDate.Format "2 Jan 2006" }}</time>
                {{ if (gt .Lastmod .Date) }}[Edit: <time datetime="{{ .Lastmod }}">{{ .Lastmod.Format "2 Jan 2006" }}</time>]{{ end }}
                ⏱ {{ .ReadingTime }} mn
            </div>
            {{ end }}
            <p class="italic">{{ default .Summary | default .Description | default .Title | plainify | truncate 160 }}</p>
        </article>
        {{ end }}
    </div>
    {{ partial "aside-list-pages" . }}
</main>
{{ end }}
